
* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

section {
    border-bottom: 3px solid rgba(202, 202, 202, 0.205);
    background-color: black;
}

/* NAVBAR */

@keyframes nav_down {
    from {
      opacity: 0;
      transform: translateY(-100px); /* Desplazar hacia arriba 20px */
    }
    to {
      opacity: 1;
      transform: translateY(0); /* Sin desplazamiento al final */
    }
  }

.nav_bar {
    width: 100%;
    min-height: 10vh;
    /* background-color: rgba(179, 179, 179, 0.238); */
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    padding-top: 10px;
    position: fixed;
    backdrop-filter: blur(2px);
    /* border: px solid black; */
    animation: nav_down 1s ease-in;
}

.perfil {
    display: flex;
    align-items: center;
    width: 50%;
    margin-left: 0.5%;
}

.perfil img {
    width: 10%;
    border-radius: 100px;
    border: 2px solid orange;
}

.perfil h1 {
    margin-left: 1%;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 1.5vw;
    color: rgb(255, 255, 255);
}

.perfil span {
    color: #ffa500;
}

.links {
    display: flex;
    align-items: center;
    width: 50%;
}

.links a {
    text-decoration: none;
    margin: 1.5%;
    color: rgb(255, 255, 255);
    font-family: 'Kanit', sans-serif;
    font-size: 1.2vw;
    transition: color 0.4s ease, transform 0.4s ease;
}

.links a:hover {
    color: orange;
    transform: scale(1.15);
    text-decoration: underline;
}

/* INICIO */

@keyframes presentation{
    from {
        opacity: 0;
        transform: translateX(-100%);
    }

    to {
        opacity: 1;
      transform: translateX(0);
    }
}

#inicio {
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.presentacion {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: presentation 1.5s ease-in;
}

.pres {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pres_left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    min-height: fit-content;
}

.presentacion img {
    width: 30%;
    border-radius: 150px;
    margin-bottom: 1%;
    border: 4px solid orange;
}

.presentacion h1 {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 2vw;
    color: white;
}

.presentacion span {
    color: orange;
}

.presentacion button {
    background-color:  orange;
    color: white;
    margin-top: 4%;
    width: 40%;
    height: 6vh;
    border-radius: 100px;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 1.3vw;
    border: 2px solid orange;
    transition: background 0.4s ease, border 0.4s ease, opacity 0.4s ease;
}

.presentacion button:hover {
    background: rgb(255, 200, 98);
    border: 2px solid rgb(255, 200, 98);
    cursor: pointer;
}

.pres_right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 53%;
    min-height: fit-content;
    flex-direction: column;
}

.pres_right h1 {
    font-size: 1.6vw;
}

.pres_right hr {
    width: 50%;
    height: 0.5vh;
    background-color: orange;
    border: 1px solid orange;
    margin-top: 2%;
    border-radius: 100px;
}

.pres_contacts {
    margin-top: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
}

@media (max-width: 768px) {
    .pres_left img {
        width: 55%;
    }

    .pres_left h1 {
        font-size: 4vw;
    }

    .pres_left button {
        width: 70%;
        height: 4vh;
        font-size: 3vw;
    }

    .pres_right h1 {
        font-size: 3vw;
        text-align: center;
        margin-bottom: 3%;
    }
}

/* SOBRE MÍ */

#sobre {
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about {
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    border: 4px solid orange;
    /* box-shadow: 7px 7px orange; */
    border-radius: 30px;
}

.about_title {
    width: 30%;
    padding: 10px;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
}

.about h1 {
    font-size: 2.3vw;
    font-family: 'Lexend Deca', sans-serif;
    color: rgb(255, 255, 255);
    margin-bottom: 0.5%;
}

.about hr {
    width: 20%;
    height: 0.2vh;
    background-color: rgb(0, 0, 0);
    border: 1px solid black;
    border-radius: 100px;
}

.about_text {
    width: 80%;
}

.about_text p {
    font-size: 1.5vw;
    font-family: 'Rajdhani', sans-serif;
    color: white;
}

.about_text strong {
    color: orange;
}

@media (max-width: 768px) {
    .about_title {
        width: 55%;
    }

    .about h1 {
        font-size: 4vw;
    }

    .about_text p {
        font-size: 3.3vw;
    }
}

/* CONOCIMIENTO */

#conocimiento {
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.skills_title {
    width: 25%;
    padding: 10px;
    background-color: #ffa500;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    margin-bottom: 1%;
}

.skills_title h1 {
    font-size: 2.3vw;
    font-family: 'Lexend Deca', sans-serif;
    color: rgb(255, 255, 255);
}

.tecnologias {
    width: 80%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media (max-width: 768px) {
    .skills_title {
        width: 60%;
        margin-bottom: 7%;
    }

    .skills_title h1 {
        font-size: 4vw;
    }

    .tecnologias {
        width: 100%;
        height: 50%;
    }
}

/* PROYECTOS */

#proyectos {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.proyectos_container {
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

@media (max-width: 768px) {
    .proyectos_container {
        flex-direction: column;
        width: 100%;
    }
}

/* CONTACTO */

#contacto {
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#contacto h1, h2 {
    color: white;
    font-family: 'Lexend Deca', sans-serif;
}

.contacto_title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(31, 31, 31);
    padding: 25px;
    border-radius: 10px;
    /* border: 1px solid orange; */
    margin-bottom: 1%;
    width: 35%;
}

.contacto_title h1 {
    font-size: 2.2vw;
    margin-bottom: 2%;
}

.contacto_title span {
    color: orange;
}

.formulario {
    width: 55%;
    min-height: fit-content;
    background-color: rgb(31, 31, 31);
    padding: 25px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.nombre, .correo, .mensaje, .boton {
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1%;
}

.formulario input {
    width: 70%;
    height: 3vh;
    border-radius: 5px;
    border: 1px solid white;
    font-size: 1vw;
}

.formulario h2 {
    margin-bottom: 1%;
}

.formulario textarea {
    width: 70%;
    margin-bottom: 3%;
    border-radius: 5px;
    font-size: 15px;
    border: 1px solid white;
    resize: none;
}

.formulario button {
    width: 35%;
    height: 5vh;
    font-family: 'Lexend Deca', sans-serif;
    background-color: orange;
    color: white;
    font-size: 1.3vw;
    border: 1px solid orange;
}

.formulario button:hover {
    background: rgb(255, 200, 98);
    border: 2px solid rgb(255, 200, 98);
    cursor: pointer;
}
    
/* FOOTER */ 

footer {
    width: 100%;
    height: 8vh;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

footer h1 {
    color: rgba(255, 255, 255, 0.736);
    font-size: 1.1vw;
    font-family: 'Lexend Deca', sans-serif;
}