---
interface Props {
    link?: string;
    icon: any;
    name: string;
    method?: any; // Atributo que establece si el componente tendrá una funcion o no
    iden?: any; // Atributo que establece el id del componente para distintos usos (funciones, estilos, etc)
}

const {
    link,
    icon = "Missing Icon!",
    name = "Missing Name!",
    method, 
    iden, 
} = Astro.props;

let correo = "arielescobar531@gmail.com";
const estado = method;
---

<script define:vars={{ correo, estado }}>
    window.copiar = () => { //window Hace que el metodo copiar() sea global, así el elemento puede ejecutar la funcion
        if (estado === "true") {
            navigator.clipboard.writeText(correo);
            console.log(correo);
        }
    };
</script>

<div class="contact" id={iden}>
    <a href={link} onclick="copiar()"><img src={icon} /></a>
    <h3>{name}</h3>
</div>

<style>
    .contact {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 5.5vw;
        padding: 1.2vw;
        margin: 1vw;
        background-color: rgb(19, 19, 19);
        box-shadow: 3px 3px orange;
        border-radius: 10px;
    }

    .contact a {
        width: 2.7vw;
        margin-bottom: 0.6vh;
    }

    .contact img {
        border: none;
        width: 100%;
        max-width: 100%;
        border-radius: 3px;
        transition:
            transform 0.4s ease,
            margin-bottom 0.4s ease,
            background 0.4s ease;
    }

    .contact img:hover {
        transform: scale(1.1);
        cursor: pointer;
        /* background-color: orange; */
    }

    .contact h3 {
        font-family: "Lexend Deca", sans-serif;
        font-size: 0.9vw;
        color: white;
    }

    @media (max-width: 768px) {
        .contact {
            width: 10vw;
            padding: 1.4vw;
            margin: 10%;
            box-shadow: 2px 2px orange;
        }

        .contact img {
            width: 8vw;
            margin-bottom: 8%;
        }

        .contact a {
            width: 6vw;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .contact h3 {
            font-size: 2vw;
        }
    }
</style>
