---
interface Props {
    imagen: any;
    titulo: string;
    descripcion: string;
}

const { imagen, titulo, descripcion } = Astro.props;
import "../styles/font.css";
---

<div class="tecnologia">
    <div class="imagen">
        <img src={imagen} +.src />
    </div>

    <div class="texto">
        <h2>{titulo}</h2>
        <p><strong>{descripcion}</strong></p>
    </div>
</div>

<style>
    *:hover {
        cursor: default;
    }

    .tecnologia {
        width: 25%;
        background-color: rgba(255, 166, 0, 0.041);
        border: 2px solid rgb(0, 0, 0);
        box-shadow: 3px 3px orange;
        border-radius: 12px;
        display: flex;
        align-items: center;
        margin: 3%;
        transition:
            background 0.3s ease,
            color 0.3s ease,
            border 0.3s ease,
            box-shadow 0.3s ease
    }

    .tecnologia:hover {
        background-color: orange;
        box-shadow: 3px 3px orange;
    }

    .tecnologia .texto h2 {
        transition: color 0.3s ease;
    }

    .tecnologia .texto p {
        transition: color 0.3s ease;
    }

    .tecnologia:hover .texto h2 {
        color: black;
    }

    .tecnologia:hover .texto p {
        color: rgb(255, 255, 255);
    }

    .imagen {
        width: 25%;
        height: 25%;
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .imagen img {
        width: 100%;
        border-radius: 20px;
    }

    .texto {
        margin-left: 4%;
    }

    .texto h2 {
        font-size: 1.6vw;
        font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
            "Lucida Sans", Arial, sans-serif;
        color: white;
    }

    .texto p {
        font-size: 1.2vw;
        font-family: "Rajdhani", sans-serif;
        color: orange;
    }

    @media (max-width: 768px) {
        .tecnologia {
            width: 40vw;
            padding: 2px;
        }

        .imagen {
            width: 11vw;
        }

        .imagen img {
            border-radius: 3px;
        }

        .texto h2 {
            font-size: 3.5vw;
        }

        .texto p {
            font-size: 3vw;
        }
    }
</style>
